tmp/*
lib/*
*.vs/*
*.obj
*.log
*.tlog
*.idb
*.pdb
*.exe
external/ft29/freetype-2.9/builds/*
external/ft29/freetype-2.9/*Change*
external/ft29/freetype-2.9/docs/*
external/ft29/freetype-2.9/*READ*
external/ft29/freetype-2.9/configure
external/ft29/freetype-2.9/*.cfg
external/ft29/freetype-2.9/*.sed
external/ft29/freetype-2.9/*.com
external/ft29/freetype-2.9/*.sh
external/ft29/freetype-2.9/*Jam*
#external/ft29/freetype-2.9/objs/*
external/ft29/freetype-2.9/*Make*
external/Boost/*
VS2017/SpaceDefender/Debug/*
VS2017/SpaceDefender/Release/*
VS2017/SpaceDefender/.vs/*
textures/*/*
doc/
